{% extends 'base.html' %}

{% block title %} Welcome to the home page {% endblock %}


{% block body %} 

<div class="card mx-auto m-5 p-5">
    <div class="card-body">
        <h3>Enter your measurements</h3>
        <form method="post">
            <div class="form-floating m-3">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" name="radius"></textarea>
                <label for="floatingTextarea">Radius (inches)</label>
              </div>
              <div class="form-floating m-3">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" name='height'></textarea>
                <label for="floatingTextarea">Height (inches)</label>
              </div>
              <button type="submit" class="btn btn-outline-primary m-3">Calculate</button>
            </form>

            {% if total_estimate %}
    <div class="card m-3 px-3 pt-3">
    <p>Your total cost estimate is: ${{total_estimate}}</p>
    
</div>
    {% endif %}
    </div>
    
  </div>








{% endblock %}